<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cat.aubricoc.holcost"
    android:versionCode="2"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/holcost"
        android:label="@string/app_name" >
        <activity
            android:name=".activity.HolcostActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CreateHolcostActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.ListHolcostActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.CreateDudeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.CostActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.ListCostActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.DudeActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>